{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}News Lens{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>News Lens v 0.1</h1>
  <h2>Identifying Bias in News Media</h2>
</div>
<div class="page-content">
<p>Today is a time of increasing political and cultural polarization in the United States. Our media reflects this polarization, with right and left-leaning outlets providing substantively different takes on the same breaking news.</p>

<p><a href="https://www.allsides.com/unbiased-balanced-news">All Sides</a> looks to provide a more balanced approach to news coverage by rounding up the top headlines of the day and showcasing reporting of these stories by outlets on the left, right, and center. This expert curation is invaluable to the continued health of our democracy.</p>

<p>This project aims to automate some of All Sides' good work by automatically rating article bias, recommending related articles that offer divergent perspectives, and identifying points of common ground in reporting across the political divide.</p>
</div>
{% endblock %}
